Django==1.6.4
Jinja2==2.7.2
MarkupSafe==0.21
PyYAML==3.11
South==0.8.4
amqp==1.0.13
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.34
celery==3.0.24
distribute==0.6.24
django-autoload-fixtures==0.2
django-celery==3.1.10
ipython==2.0.0
kombu==2.5.16
python-dateutil==2.2
python-firebase==1.2
pytz==2014.2
requests==2.2.1
six==1.6.1
wsgiref==0.1.2
yolk==0.4.3
